<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule (Automatic)</title>
    <style>
        /* github.com/xytk4/sched */
        body {
            background-color:#1A1A1A;
            background-image:url(https://www.101011010.com/img/bg_tile_1.gif);
            background-repeat: repeat;
            color:#fff;
            margin:16px;
            line-height:1.4;
        }

        a.nexta {
            font-size:x-large;
        }

        a.heading {
            text-decoration:none;
        }

        a.heading:active {
            text-decoration:none;
            color:#ff6f00;
        }

        a:link {
            color:#00F0FF;
        }

        a:visited {
            color:#00F0FF;
        }

        a:hover {
            color:#fff;
        }

        a:active {
            color:#00F0FF;
        }

        .text {
            max-width:800px;
            text-align:justify;
            text-justify:newspaper;
        }

        :root {
            --margin-left:48px;
            --margin-top:28px;
            --block-width:796px;
        }

        .banner {
            width:75%;
            background-color:#931d1d;
            padding:16px;
            margin-left:var(--margin-left);
            margin-top:var(--margin-top);
            max-width:var(--block-width);
            border-color:#444;
            border-width:2px;
            border-style:ridge;
        }

        .zzbanner {
            background-color:#2554C7!important;
        }

        .block {
            background-color:#2b3032;
            width:75%;
            padding:16px;
            margin-left:var(--margin-left);
            margin-top:var(--margin-top);
            max-width:var(--block-width);
            border-color:#444;
            border-width:2px;
            border-style:ridge;
        }

        .special {
            background-color:rgba(60,60,80,0.5);
            margin:.5em;
            padding:.2em .5em .3em;
        }

        .onl {
            animation:blink 1.2s ease infinite;
        }

        @keyframes blink {
            0% {
                opacity:1;
            }

            50% {
                opacity:.4;
            }

            100% {
                opacity:1;
            }
        }

        .bleh {
            color:#999;
        }

        .greeting {
            opacity:75%;
        }

        li:nth-child(5) {
            opacity:56.666%;
        }

        .toki {
            float:right;
        }

        ol {
            width:52%;
        }

        @media only screen and (hover: none) and (pointer: coarse) {
            ol {
                font-size: 25px; /* おねがいいいい */
                width:60%;
            }
        }

        ul.c { list-style-type: '\2713 '; }

        .timetravel {
            color: #F00;
        }
    </style>

    <script>
        // ew, js
        var tvi = false;
        function toggle_toki_reveal() {
            var tokis = document.getElementsByClassName("toki");
            for (let i = 0; i<tokis.length; i++) {
                let elem = tokis[i];
                if (tvi) {
                    elem.style.color = elem.parentElement.parentElement.parentElement.style.backgroundColor;
                } else {
                    elem.style.color = "rgb(255,255,255)";
                }
            }
            tvi = !tvi;
        }
    </script>

</head>
<body>
<h2>Hello and welcome to the automatic schedule webpage!</h2>
<h4>スケジュールのページへいらっしゃいませ‼</h4>
<div class="text">
    <b>Brief statistics section:</b><br/>
    <span class="bleh">Days remaining in the school year:</span> {{stat.days_rem}} <span class="bleh">(that's </span>{{stat.days_rem_pct}}% <span class="bleh">complete)<br/>
    Ped days / holidays remaining: </span>{{stat.ped_rem}} <span class="bleh">(</span>{{stat.ped_past}} <span class="bleh">have happened already)</span><br/>
    That's it, have a nice day! <i> (calculated in {{stat.time_ms}}ms) </i><br/>
    <br/>
    <b>!! now featuring 95% production-week-era schedule compliance !!</b>
    (look for the periods in <b><i>bold</i></b>)
</div>

{% if timetravel == 1 -%}
<div class="timetravel onl">
    <h2>warning! you are time travelling! be careful!</h2>
</div>
{% elif timetravel == 2 -%}
<div class="timetravel onl">
    <h2>warning! you <em>tried</em> to time travel, but it failed! be careful!!</h2>
</div>
{% endif -%}

{% if show_banner == 1 -%}
<div class="banner">
    <h3>automatic notice: it's close to the start/end of the day, so the date is about to change, or maybe just did. don't get confused. look at the date. thanks.</h3>
</div>
{% endif -%}

{% if show_banner == 2 -%}
<div class="banner zzbanner">
    <table width="100%" border="0" cellspacing="4" cellpadding="4">
        <tr>
            <td><img height="40px" src="https://101011010.com/schedimg/zzz.gif" alt="(zzz)"/></td>
            <td>
                <h3>
                notice: it's pretty late. you should probably get some sleep. thanks for checking the schedule though :) now gn.
                </h3>
            </td>
        </tr>
    </table>
</div>
{% endif -%}
{% for block in blocks -%}
<div class="block" style="background-color: {{block.bgcolorcode}}">
    <a class="heading" onclick="toggle_toki_reveal()">
        <h3>
            {{block.title}} ({{block.date}})
            {% if block.status == 0 %}
            will be
            {% elif block.status == 1 %}
            is
            {% elif block.status == 2 %}
            was
            {% endif %}
            <b>{{block.day_str}}</b>{# {% if block.is_online == true %}<span class="onl"> ONLINE</span>{% endif %} #}.
        </h3>
    </a>
    {% if block.status == 2 -%}
    <h4 class="onl">This day has already happened, at least in terms of school.</h4>
    {% endif -%}
    {% if block.classes_is_some == true -%}
    {% set_global tokis = [
        " 8:00 - 9:00",
        " 9:05-10:05",
        "10:25-11:25",
        "11:30-12:30",
        "12:35-13:35",
        "13:40-14:40",
        "14:45-15:45"
        ] -%}
    <p>This day's classes are:</p>
    <ol>
        {% for class in block.classes -%}
        <li>{{class}} <span class="toki" style="color:{{block.bgcolorcode}}">{{tokis[loop.index0]}} </span></li>
        {% endfor -%}
    </ol>{% endif -%}
    {% if block.special_is_some == true -%}
    <div class="special">
        <p><em>Special events!</em></p>
        <ul>
            {% for event in block.special -%}
            <li>{{event}}</li>
            {% endfor -%}
        </ul>
    </div>{% endif -%}
    <p class="greeting">{{block.greeting}}</p>
</div>
{% endfor -%}
<br />
<br />
<br />
<a class="nexta" href="?count={{nextcount}}">Click here to load more days!</a>
<br />
<br />
<p>bonus points: this page was generated in <i>{{benchmark_duration_ms}}ms.</i> ({{benchmark_stat_pct}}% of that is generating top stats)</p>
<em>thanks for checking in! ur awesome</em>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</body>
</html>
