<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Silly goose</title>
    <style>
        /* stolen from 15A Universal Styles  AGAINNN*/
        body {
            background-color:#1A1A1A;
            color:white;
            margin:1.3em;
            line-height: 1.4;
        }
        a:link {
            color:#00F0FF;
        }
        a:visited {
            color: #00F0FF;
        }
        a:hover {
            color: #00F0FF;
        }
        a:active {
            color: #00F0FF;
        }
    </style>
</head>
<body>
<h2>Now, if that isn't just the silliest thing you've ever done.</h2>
<p>There is absolutely no reason at all you should need that many days on one page.</p>
<p>Hold on... how many did you just request? Let me count.......</p>
<h1>{{count}}.</h1>
<h2>In no world is that necessary at all,</h2>
<h3>so please stop it thanks</h3>
<a href="?">Go back to being sensible</a>
</body>
</html>